.financialMain {
     margin-top: 15px;
     margin-bottom: 60px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     padding: 10px;
     width: 280px;
     height: auto;
     font-family: nunito;
}

.card {
     width: 280px;
     height: 60px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 5px;
     overflow: hidden;
     border-radius: 15px;
     background-color: #f8f9fa;
}

.colorCard {
     width: 5px;
     height: 90px;
}

.cardDescription {
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 200px;
     white-space: nowrap;
     overflow: hidden;
}

.cardTitle {
     font-size: 14px;
}

.cardType {
     font-size: 10pt;
}

.cardPrice {
     font-size: 9pt;
     white-space: nowrap;
}

.cardTrash {
     width: 25px;
     height: 25px;
     margin: 0 5px;
}

.imgNoLaunchs {
     width: 260px;
}

@media (min-width: 1000px) {
     .financialMain {
          margin-top: 15px;
          margin-bottom: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          padding: 10px;
          width: 650px;
          height: auto;
          overflow-x: scroll;
          font-family: nunito;
     }

     .card {
          width: 650px;
          height: 90px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          overflow: hidden;
          border-radius: 15px;
          background-color: #f8f9fa;
     }

     .colorCard {
          width: 5px;
          height: 90px;
     }

     .cardDescription {
          display: flex;
          flex-direction: column;
          gap: 25px;
          width: 480px;
          white-space: nowrap;
          overflow: hidden;
     }

     .cardTitle {
          font-size: 16px;
     }

     .cardType {
          font-size: 10pt;
     }

     .cardPrice {
          width: 90px;
          font-size: 10pt;
          white-space: nowrap;
     }

     .cardTrash {
          width: 25px;
          height: 25px;
          margin: 0 5px;
     }

     .imgNoLaunchs {
          width: 650px;
     }
}
